@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
