@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
